{:source-paths ["src"]
 :dependencies
 [[reagent "1.2.0"]
  [re-frame "1.4.3"]
  [binaryage/devtools "1.0.7"]]

 :dev-http [{:port 8280
             :root "public"
             :index "index.html" ;; doesn't work for now. serve html from backend.
             :proxy-url "http://localhost:3000"}]

 :builds
 {:app {:target :browser
        :modules {:app {:entries [ui.core]}}
        :output-dir "public/js"
        :asset-path "/js"
        :devtools {:after-load ui.core/mount}}}}
